<div class="container">
    <div class="row">
        <div class="mx-auto col-sm-10">
            <!-- form user info -->
            <div class="card">
                <div class="card-body">
                    <button onclick="window.location.href='/ventas/alta'" type="button" class="btn btn-success btn-lg btn-block py-0 mx-auto col-sm-10 text-left"><img class="iconImg2 my-2 mr-2" src="img/add.png"><small> Ingresar Venta </small></button>
                    <!--<button onclick="window.location.href='/ventas/modificar'" type="button" style="color:white" class="btn btn-warning btn-lg btn-block py-0 mx-auto col-sm-10 text-left "><img class="iconImg2 my-2 mr-2" src="img/edit.png"><small> Modificar Venta</small> </button>-->
                    <button onclick="window.location.href='/ventas/reportes'" type="button"  class="btn btn-info btn-lg btn-block py-0 mx-auto col-sm-10 text-left"><img class="iconImg2 my-2 mr-2" src="img/info.png"><small> Reporte Ventas </small></button>
                </div>
            </div>
            <!-- /form user info -->
        </div>
    </div>
</div>