<div class="container">
    <div class="row">
        <div class="mx-auto col-sm-10">
            <!-- form user info -->
            <div class="card">
                <div class="card-body">
                    <button onclick="window.location.href='/clientes/alta'" type="button" class="btn btn-success btn-lg btn-block py-0 mx-auto col-sm-10 text-left"><img class="iconImg" src="img/Icons-15.png"><small> Ingresar Cliente </small></button>
                    <button onclick="window.location.href='/clientes/modificar'" type="button" style="color:white" class="btn btn-warning btn-lg btn-block py-0 mx-auto col-sm-10 text-left "><img class="iconImg" src="img/Icons-16.png"><small> Modificar Cliente</small> </button>
                    <button onclick="window.location.href='/clientes/visual'" type="button" class="btn btn-info btn-lg btn-block py-0 mx-auto col-sm-10 text-left"><img class="iconImg" src="img/Icons-13.png"><small> Consultar Clientes </small></button>
                </div>
            </div>
            <!-- /form user info -->
        </div>
    </div>
</div>