<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container-fluid justify-content-between">
    {{#if visual}}
    <div class="row mx-0 w-100 justify-content-between align-items-center">
      <div class="col-auto px-0 d-flex flex-column-reverse">
        <div class="pt-1">
          <button onclick="openNav();" type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Reparto</span>
          </button>
          <a href="/ventas/alta" target="_blank" role="button" class="btn btn-success p-0 m-0">
            <img src="../img/Icons-21.png" style="width: 36px;height: 36px;filter: invert(100%);" alt="">
          </a>
        </div>
        <div class="d-flex justify-content-between">
          <a onclick="createPDF();" role="button" class="btn btn-info p-0 m-0">
            <img src="../img/Icons-12.png" style="width: 36px;height: 36px;filter: invert(100%);" alt="">
          </a>
          <a href="/clientes/alta" target="_blank" role="button" class="btn btn-success p-0 m-0">
            <img src="../img/Icons-15.png" style="width: 36px;height: 36px;filter: invert(100%);" alt="">
          </a>
          <a href="/itinerarios" role="button" class="btn btn-secondary p-1">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-left"
              class="svg-inline--fa fa-arrow-alt-circle-left fa-w-16" height="28" width="28" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zm448 0c0 110.5-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56s200 89.5 200 200zm-72-20v40c0 6.6-5.4 12-12 12H256v67c0 10.7-12.9 16-20.5 8.5l-99-99c-4.7-4.7-4.7-12.3 0-17l99-99c7.6-7.6 20.5-2.2 20.5 8.5v67h116c6.6 0 12 5.4 12 12z">
              </path>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-auto px-0 text-center">
        <h6 class="text-center">Ventas diarias:
        </h6>
        <h6 class="text-center" id="recaudacionTotal"> 0</h6>
      </div>
    </div>
    {{else}}
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span>Menu</span>
    </button>
    {{/if}}
    <!--
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
      </ul>
    </div>
    -->
  </div>
</nav>